@import "tailwindcss";

:root {
  --background: #F9F8F6;
  --foreground: #2A241D;
}

@theme inline {
  --color-base: var(--background);
  --color-text: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-newsreader);

  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-reverse: marquee-reverse 40s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F8F6;
    /* Forcing static light theme per tactical requirement */
    --foreground: #2A241D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}